@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: #243e63;
}

.head {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.body {
    max-width: 1280px;
    overflow-x: hidden;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
    display: flex;
    flex-direction: column;
    max-width: 1024px;
}

.purple {
    color: rgb(24, 146, 228);
}

.section {
    max-width: 1280px;
    width: 100%;
    padding: 0 32px;
}

main {
    margin-bottom: 96px;
}


/* 

NAVBAR ↓

*/


nav {
    display: flex;
    padding-top: 12px;
    max-width: 1200px;
    justify-items: center;
    width: 100%; 
}

.nav__row {
    display: flex;
    justify-content: center;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
   
}

.Tree {
    width: 132px;
    height: 140px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    
}

.page__title {
    font-size: 20px;
    font-weight: 50;
    display: flex;
    align-items: center;
    color: rgb(24, 146, 228);
    font-family: fantasy;
    border-radius: 10px;
    padding: 0 12px;
    max-width: 40%;
}

.btn__menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 500ms ease;
}

.nav__button {
   background-color: rgb(24, 146, 228);
    font-size: 16px;
    color: white;
    cursor: pointer;
    padding: 12px 32px;
    border-style: solid;
    border-radius: 500px;
    margin-left: 8px;
}

.btn__menu--svg:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
    color: rgb(24, 146, 228);
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.nav__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    cursor: pointer;
    padding: 12px;
}

.nav__link {
    color: #1a202c;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 8px;
    padding: 4px;
    border-bottom: 2px solid transparent;
}

.modal__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: rgb(24, 146, 228);
    border-radius: 500px;
    border: none;
    cursor: pointer;
}

.menu--open .modal {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.btn__menu--close {
    position: fixed;
    top: 16px;
    right: 16px;

}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.menu__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.menu__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: rgb(24, 146, 228);
    border-radius: 500px;
    border: none;
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}

/* 

HEADER / ABOUT US ↓

*/
header {
    max-width: 1200px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

header .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.header__description {
    width: 60%;
}

.header__description--para {
    margin: 32px 0;
    text-align: left;
}

.header__title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    letter-spacing: 0.025em;
    margin: 16px 0px;
    justify-content: center;
    text-align: left;
}

.header__email {
    width: 100%;
    height: 68px;
    display: flex;
    justify-content: flex-end;
    text-align: left;
    position: relative;
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 24px 20px 24px 20px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    color: #1a202c;
    height: 68px;
}

.header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: rgb(24, 146, 228);
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;
    position: absolute;
    top: 0;
}

.header__customers--title {
    margin-top: 12px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.6;
}

.header__sponsor {
    margin-top: 16px;
    width: 30%;
}

.header__img--wrapper {
    width: calc(100% - 40%);
    flex-direction: row;
}

.header__img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    flex-direction: row;
    padding: 12px;
    border-radius: 30px;
}

/* 

FEATURES ↓

*/

.Features__Title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    letter-spacing: 0.025em;
    margin: 16px 0px;
    justify-content: center;
    text-align: center;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 24px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.feature {
    width: auto;
    max-width: 500px;
}

.feature__row {
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
    display: flex;
    margin: 8px;
    max-width: 350px;
}

.feature__img--wrapper {
    display: flex;
    padding: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 500px;
    border-image: initial;
}

.feature__img {
    width: 64px;
    height: 64px;
}

.feature__img--small {
    width: 100px;
    height: 100px;
}

.feature__img--xtrasmall {
    width: 120px;
    height: 120px;
}

.feature__text {
    margin-left: 24px;
    margin-top: 16px;
    font-size: 18px;
    max-width: 500px;
}

.feature__title {
    letter-spacing: 0.025em;
    line-height: 1;
    font-size: 16px;
}

.feature__para {
    margin-top: 4px;    
    line-height: 2;
    max-width: none;
    color: #1a202c;
    font-weight: 500;
    font-size: 14px;
}

Features {
    max-width: 1200px;
    width: 100%;
}

/* 

QUALITY WORK ↓

*/

 .quality__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
}

.container {
    padding: 96px 0px;
    max-width: 1200px;
    width: 100%;
}

.quality__description {
    max-width: 576px;
    margin-right: 64px;
    width: 50%; 
    text-align: left;
}

.section__tag {
    font-size: 16px;
    color: rgb(24, 146, 228);
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}

.quality__title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    letter-spacing: 0.025em;
    margin: 16px 0px;
}

.section__para {
    font-size: 18px;
    font-weight: 500;
    color: black;
    line-height: 1.625;
}

.quality__btn {
    background-color: rgb(24, 146, 228);
    font-size: 16px;
    color: white;
    cursor: pointer;
    padding: 12px 32px;
    margin-top: 16px;
    border-style: solid;
    border-radius: 500px;
  
}

.quality__img--wrapper {
    position: relative;
    display: flex;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(229, 231, 235);
    border-image: initial;
    margin: 0px 56px;
}

.quality__img {
   width: 500px;
   height: auto;
   border-radius: 30px;
}
/* 

STEPS ↓

*/
.container {
        padding: 80px 0;
    }

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.steps__img--wrapper {
    display: flex;
    position: relative;
}

.steps__img {
    width: 350px;
    height: 350px;
}

.steps__description {
    padding: 32px 0;
    padding-left: 64px;
}

.steps__tag {
    font-size: 16px;
    color: rgb(24, 146, 228);
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}

.steps__title {
    margin: 16px 0 0 0;
    font-size: 32px;
    }

.step__para {
    font-size: 14px;
    color: #718096;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
}

.step__number {
    color: rgb(24, 146, 228);
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
}

.steps__list {
        margin-top: 48px;
    }
/* 

VALUES ↓

*/

#values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.values__description {
    padding: 32px 64px 32px 0;
    width: 50%;
}

.section__tag {
    font-size: 16px;
    color: rgb(24, 146, 228);
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}

.values__list {
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    max-width: none;
    flex-direction: row;
}

.value {
    margin-top: 2rem;
    margin-right: 2rem;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.value__title {
    display: flex;
    text-align: left;
}

.value__name {
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #243e63;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: left;
}

.value__para {
    margin-top: 16px;
    line-height: 1.625;
    color: #718096;
    text-align: left;
}

.values__img {
    width: 500px;
    height: auto;
}

.value__img--wrapper {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
}

.values__btn {
    background-color: rgb(24, 146, 228);
    padding: 12px 32px;
    border-style: solid;
    border-radius: 500px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    transition: all 300ms ease;
    cursor: pointer;
    margin-top: 48px;
    flex-direction: column;
}
/*

PRICING ↓

*/


#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.plans {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.plan {
    position: relative;
    margin-top: 1rem;
    display: flex;
    width: 100%;
    max-width: 24rem;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: bisque;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 0.5rem;
    text-align: center;
    color: rgb(26 32 44);
    border-style: solid;
    margin: 12px;
}

.plan__highlighted {
    position: relative;
    margin-top: 1rem;
    display: flex;
    width: 100%;
    max-width: 24rem;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: lightblue;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 0.5rem;
    text-align: center;
    color: rgb(26 32 44);
    border-style: solid;
    margin: 12px;
}

.plan__top {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
    line-height: 1.625;
}

.plan__name {
    font-size: 20px;
}

.plan__price {
    font-size: 48px;
    margin: 12px 0;
}

.plan__duration {
    font-size: 16px;
    letter-spacing: 0.1em;
    font-weight: bold;
    line-height: 1.625;
}

.plan__middle {
    margin-left: -2rem;
    margin-right: -2rem;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    border-top-width: 2px;
    border-bottom-width: 2px;
    padding: 2rem;
}

.plan__size {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.025em;
}

.plan__feature {
    margin-top: 20px;
    font-weight: 500;
    color: darkslategrey;
    font-size: 16px;
    line-height: 1.5;
}

.plan__bottom {
    padding-left: 2rem;
    padding-right: 2rem;
}

.plan__button {
    background-color: rgb(24, 146, 228);
    padding: 8px;
    font-weight: 700;
    color: rgb(247 250 252);
    transition: all 300ms ease;
    width: 100%;
    border-radius: 9999px;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 8px;
    cursor: pointer;
}

.plan__stripe {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.price__para {
    font-size: 16px;
    margin-top: 1rem;
    font-weight: 500;
    line-height: 1.625;
    color: #718096;
}

/* 

TESTIMONIALS ↓

*/


#testimonials .row {
    display: flex;
}

.section__title {
    text-align: left;
}

.section__para {
    text-align: left;
}

.testimonials__description {
    display: flex;
    flex-direction: column;
    padding-left: 64px;
}

.testimonial {
    margin-top: 12px;
}

.testimonial__rating {
    color: rgba(246, 173, 85);
    margin-right: 2px;
    margin-top: 4px;
    text-align: left;
    font-size: 32px;
}
.star {
    color: rgba(246, 173, 85);
    margin-right: 2px;
    font-size: 50px;
}

.testimonial__title {
    color: #4a5568;
    line-height: 1.625;
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: left;
}

.testimonial__para {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 500;
    line-height: 1.625;
    font-size: 16px;
    color: rgb(74 85 104);
    text-align: left;
}

.testimonial__img {
    width: 100px;
    height: 90px;
    border-radius: 50%;
}

.testimonials__img {
    width: 350px;
    height: 350px;
}

.section__tag {
    font-size: 16px;
    color: rgb(24, 146, 228);
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
}

.testimonial__bottom {
    display: flex;
    justify-content: space-between;
}

.testimonial__name {
    font-size: 16px;
    font-weight: 700;
    color: #243e63;
    text-align: left;
}

.testimonial__role {
    font-size: 16px;
    font-weight: 700;
    color: #243e63;
    text-align: left;
}

.testimonial__profile {
    display: flex;
    align-items: center;
}

.testimonial__details {
    margin-left: 24px;
}

.testimonial__buttons {
    display: flex;
    align-items: center;
}

.testimonial__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 8px;
    background-color: rgb(24, 146, 228);
    color: white;
    border-radius: 50%;
    margin: 0 12px;
    font-size: 40px;
    cursor: pointer;
}

.divider {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    border-right-width: 1px;
    width: 0.5px;
    background-color: #edf2f7;
    height: 20px;
}


/* 

START / CALL TO ACTION ↓

*/

.row {
    position: relative;
    overflow: hidden;
}

.start__container {
    padding: 96px 0;
    width: 100%;
    background-color: rgb(24, 146, 228);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start__row {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    border-radius: 50px;
    min-height: 250px;
}

.start__title {
    color: darkslategrey;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    z-index: 2;
}

.start__buttons {
    display: flex;
    margin: 12px 0;
    flex-direction: row;
}

.start__button {
    font-weight: 700;
    color: white;
    transition: all 300ms ease;
    width: 150px;
    border-radius: 50px;
    background-color: rgb(24, 146, 228);
    padding: 8px;
    margin: 8px;
    cursor: pointer;
}

/* FOOTER ↓ */

footer {
    background-color: #f7fafc;
    padding: 48px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.footer_row {
    width: 70%;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.footer__columns {
    margin-top: -24px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    align-items: center;
    justify-content: space-evenly;
   
}

.footer__column {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
}

.footer__column--title {
    font-weight: 700;
    color: darkslategray;
    line-height: 1.5;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.footer__column--link {
    color: darkslategrey;
    font-size: 14px;
    margin-top: 12px;
    line-height: 1.5;
    font-weight: 500;
    position: relative;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.footer__divider {
    width: 100%;
    height: 2px;
    margin: 64px 0;
    background: black;
    max-width: 1280px;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright {
    color: darkslategrey;
    font-weight: 500;
}

.footer__socials {
    display: flex;
    align-items: right;
    margin-left: -16px;
    justify-content: right;
    text-align: right;
}

.footer__social--link {
    margin-left: 16px;
    padding: 8px;
    background: #f7fafc;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
    transition: all 300ms ease;
    width: 56px;
    height: auto;
}

.footer__logo {
    width: 80px;
    height: 80px;
    margin-right: 12px;
}
/* 

MOBILE RESPONSIVENESS ↓

*/


@media (max-width: 1200px) {

    .row {
        flex-direction: column;
    }
    
    .container {
        padding: 32px 12px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .Tree {
        width: 25%;
        height: auto;

    }    
    header .row {
        flex-direction: column;
    }

    .header__title {
        text-align: center;
        font-size: 40px;
    }

    .header__description--para {
        text-align: center;
    }

    .quality__title {
        font-size: 30px;
    }

    .quality__row {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .quality__btn {
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 16px 0;
    }

    .quality__img {
        width: 100%;
        height: auto;
    }

    .steps__description {
        padding: 0 12px;
    }

    .quality__description {
        margin: 0;
        width: 100%;
        text-align: center;
        padding: 0 16px;
        align-items: center;
        justify-content: center;
    }

    .Features__Title {
        font-size: 40px;
    }
    .section__para {
        text-align: center;
    }

    .section__title {
        font-size: 40px;
        max-width: 250px;
    }
    
    .steps__title {
        font-size: 40px;
    }

    #values .row {
        flex-direction: column;
        align-items: center;
    }

    .values__description {
        text-align: center;
        padding: 0;
    }
    .plans {
        flex-direction: column;
        align-items: center;
        padding: 0 12px;
    }

    .plan {
        max-width: 300px;
    }

    .plan__highlighted {
        max-width: 300px;
    }

    .price__para {
        padding: 0 12px;
    }

    .section__title {
        align-items: center;
        text-align: center;
    }
 
    .section__tag {
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    
    .start__row {
        flex-direction: column;
        text-align: center;
        padding: 0 12px;
    }

    .testimonial__title {
        text-align: center;
    }

    .testimonial__name {
        font-size: 14px;
    }

    .testimonial__role {
        font-size: 14px;
        text-align: center;
    }

    .testimonials__img {
        width: 50%;
        height: auto;
        flex-direction: column;
    }

    .testimonial__para {
        text-align: center;
    }

    .testimonial__rating {
        text-align: center;
    }

    .testimonials__description {
        padding: 0 12px;
        align-items: center;
        text-align: center;
    }

    .footer__copyright {
        font-size: 14px;
    }

    .steps__img {
        width: 100%;
        height: auto;
    }

    .value {
        margin: 16px 0;
        align-items: center;
        text-align: center;
    }

    .values__list {
        flex-direction: column-reverse;
        text-align: center;
        margin: 0;
    }

    .value__para {
        text-align: center;
    }

    .value__name {
        text-align: center;
        font-size: 30px;
    }

    .feature__row {
        max-width: 200px;
    }

    .feature__img--wrapper {
        padding: 0;
    }

    .footer__column {
        padding: 0 10px;
    }

    .header__email--input {
        position: static;
        width: 100%;
        padding: 16px 0;
        padding-left: 32px;
        line-height: 1.5;
        border-style: solid;
        border-color: black;
    }

    .header__email--btn {
        width: 100%;
        height: 68px;
        padding: 16px 0;
        margin: 70px 0;
        margin-bottom: 0px;
        line-height: 1.5;
        border-style: solid;
        border-color: black;
    }
}