@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: #243e63;
}

.head {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.body {
    max-width: 1280px;
    overflow-x: hidden;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
    display: flex;
    flex-direction: column;
    max-width: 1024px;
}

.purple {
    color: rgb(24, 146, 228);
}

section {
    padding: 0 32px;
}

main {
    margin-bottom: 96px;
}


/* 

NAVBAR ↓

*/


nav {
    display: flex;
    padding-top: 16px;
    max-width: 1200px;
    justify-items: center;
    margin: 0 auto; 
}

.nav__row {
    display: flex;
    justify-content: center;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
   
}

.Tree {
    width: 132px;
    height: 140px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    
}

.page__title {
    font-size: 40px;
    font-weight: 50;
    margin-left:10px;
    display: flex;
    align-items: center;
    color: rgb(24, 146, 228);
    font-family:fantasy ;
    border-radius: 10px;
    padding: 50px;
    max-width: 1280px;
}

.btn__menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 500ms ease;
}

.btn__menu--svg:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
    color: rgb(24, 146, 228);
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.modal__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

}

.modal__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.modal__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: rgb(24, 146, 228);
    border-radius: 500px;
    border: none;
    cursor: pointer;
}

.menu--open .modal {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.btn__menu--close {
    position: fixed;
    top: 16px;
    right: 16px;

}


/* 

HEADER / ABOUT US ↓

*/
.header__title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    letter-spacing: 0.025em;
    margin: 16px 0px;
    justify-content: center;
    text-align: center;
   
}

.container__heading {
    padding: 96px 0px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.Plate__Blurb {
    font-size: 18px;
    max-width: 1200px;
    line-height: 1.6;
    margin-top: 16px;
    display: flex;
    width: 60%;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}


.Plate {
    width: 500px;
    height: 0 auto;
    border-radius: 16px;
    border-radius: 50px;
    margin-top: 20px;
}


/* 

FEATURES ↓

*/

.Features__Title{
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    letter-spacing: 0.025em;
    margin: 16px 0px;
    justify-content: center;
    text-align: center;
}

section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 24px
    justify-content: center;
    align-items: center;
    text-align: center;
}

.feature {
    width: auto;
    max-width: 500px;

}

.feature__row {
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 48px 8px;
    display: flex;
    margin: 8px;
}

.feature__img--wrapper {
    display: flex;
    padding: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 500px;
    border-image: initial;
}

.feature__img {
    width: 64px;
    height: 64px;
}

.feature__img--small {
    width: 100px;
    height: 100px;
}

.feature__img--xtrasmall {
    width: 120px;
    height: 120px;
}

.feature__text {
    margin-left: 24px;
    margin-top: 16px;
    font-size: 18px;
    max-width: 500px;
}

.feature__title {
    letter-spacing: 0.025em;
    line-height: 1;
}

.feature__para {
    margin-top: 4px;    
    line-height: 2;
    max-width: none;
    color: #1a202c;
    font-weight: 500;
    font-size: 20px;
}

/* 

QUALITY WORK ↓

*/

 .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    padding: 96px 0px;
}

.quality__description {
    max-width: 576px;
    margin-right: 64px;
    width: 50%; 
}

.section__tag {
    font-size: 16px;
    color: rgb(24, 146, 228)
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    letter-spacing: 0.025em;
    margin: 16px 0px;
}

.section__para {
    font-size: 18px;
    font-weight: 500;
    color: black
    line-height: 1.625;
}

.btn {
    background-color: rgb(24, 146, 228);
    font-size: 16px;
    color: white
    cursor: pointer;
    padding: 12px 32px;
    margin-top: 16px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 500px;
    transition: 300ms;
}

.quality__img--wrapper {
    position: relative;
    display: flex;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(229, 231, 235);
    border-image: initial;
    margin: 0px 56px;
}

.quality__img {
   width: 400px;
   height: auto;
   border-radius: 30px;
}
/* 

STEPS ↓

*/
.container {
        padding: 80px 0;
    }

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.steps__img--wrapper {
    display: flex;
    position: relative;
}

.steps__description {
    padding: 32px 0;
    padding-left: 64px;
}

.section__tag {
    font-size: 16px;
    color: rgb(24, 146, 228);
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}

.section__title {
    margin: 16px 0 0 0;
    font-size: 32px;
    }

.step__para {
    font-size: 14px;
    color: #718096;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
}

.step__number {
    color: rgb(24, 146, 228);
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
}

.steps__list {
        margin-top: 48px;
    }
/* 

VALUES ↓

*/

#values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.values__description {
    padding: 32px 64px 32px 0;
    width: 50%;
}

.section__tag {
    font-size: 16px;
    color: rgb(24, 146, 228);
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}

.section__para {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
}

.values__list {
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    max-width: none;
    flex-direction: row;
}

.value {
    margin-top: 2rem;
    margin-right:
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.value__title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.value__name {
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #243e63;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.value__para {
    margin-top: 16px;
    line-height: 1.625;
    color: #718096;
}

.values__img {
    width: 500px;
    height: auto;
}

.value__img--wrapper {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
}

.values__btn {
    background-color: rgb(24, 146, 228);
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    transition: all 300ms ease;
    cursor: pointer;
    margin-top: 48px;
    flex-direction: column;
   margin-left: 24px
}
/*

PRICING ↓

*/


#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 

TESTIMONIALS ↓

*/


#testimonials .row {
    display: flex;
}


/* 

START / CALL TO ACTION ↓

*/



#start .row {
    position: relative;
    overflow: hidden;
}


/* 

FOOTER ↓

*/


footer {
    padding: 96px 32px;
    background-color: lightslategrey;
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}


/* 

MOBILE RESPONSIVENESS ↓

*/


@media(max-width: 1280px) {
    header .row {
        align-items: flex-center;
        text-align: center;
    }
}

@media (max-width: 1280px) {

}
    .btn__menu {
        display: block;
    }
    header .row {
        flex-direction: column;
        align-items: center;
    }
    footer {
        padding: 32px 32px;
    }


@media(max-width: 1280px) {
    #quality .row,
    #values .row {
        flex-direction: column-reverse;
    }
    #steps .row,
    #testimonials .row {
        flex-direction: column;
        align-items: center;
    }
    #pricing .row {
        margin-top: 40px;
    }
}

@media(max-width: 1280px) {
    .container {
        padding: 80px 0;
    }
    .nav__logo {
        margin: 8px 0;
        padding-bottom: 4px;
    }
    main {
        margin-bottom: 80px;
    }
}